.testimonials-footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-footer-content {
    display: flex;
    justify-content: space-between;
    width: 200%; 
    max-width: 1200px;
}

.testimonials-footer-left,
.testimonials-footer-middle,
.testimonials-footer-right {
    width: 30%;
    text-align: center;
}

.testimonials-footer-left h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f0c14b;
}

.testimonials-footer-left p {
    font-size: 1.2em;
}

.testimonials-footer-left .working-schedule {
    margin-top: 30px;
}

.phone-icon {
    width: 80px;
    margin-bottom: 20px;
}

.phone-number {
    font-size: 1.5em;
    color: #f0c14b;
}

.payment-options,
.app-download {
    width: 100%;
    margin-top: 10px;
}
